.profileIcon {
    margin-left: 45%;
    height: 100px;
    width: 100px;
}
.gridContent {
    margin-top: 5%
}

.overallBandComponent {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3%;
    margin-left: 22%;
    margin-right: 18%;
    font-size: 32px;
    font-weight: bold;
}

.container {
    
    display: grid;
    grid-template-columns: 10% 45% 45%;
}

.profileTitle {
    text-align: center;
    font-size: 25px;
    margin-bottom: 3%;
}
.scoreBoardText {
    width: 120%;
    text-align: left;
    padding: 5%;
    margin-left: 25%;
}
.scoreChart {
    margin-left: -5%
}

.sendScore {
    position: fixed;
    width: 70%;
    left: 40%;
    top: 65%;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 5%;
}

.icon {
    margin-top: 1%;
    margin-right: 1%;
}